<div class="container mx-auto px-4 md:px-20 lg:px-36 pt-14">
    <h2 class="text-xl font-extrabold mb-4">Best Places to Eat Across Cities</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Bangalore</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Pune</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Mumbai</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Delhi</b>
        </a>

        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Hyderabad</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Kolkata</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Chennai</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Chandigarh</b>
        </a>

        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Ahemedabad</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Jaipur</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Nagpur</b>
        </a>
        <a href="#" class="p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Show More</b>
        </a>
    </div>
</div>



<div class="container mx-auto px-4 md:px-20 lg:px-36 pt-14">
    <h2 class="text-xl font-extrabold mb-4">Best Cuisines Near Me</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Chinese Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">South Indian Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Indian Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Kerala Restaurant Near Me</b>
        </a>

        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Korean Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">North Indian Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Seafood Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Bengali Restaurant Near Me</b>
        </a>

        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Punjabi Restaurant Near Me</b>
        </a>
        <a href="#" class="p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Italian Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Andhra Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Show More</b>
        </a>
    </div>
</div>



<div class="container mx-auto px-4 md:px-20 lg:px-36 pt-14">
    <h2 class="text-xl font-extrabold mb-4">Explore Every Restaurants Near Me </h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <a href="#" class="p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Explore Restaurants Near Me </b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Explore Top Rated Restaurants Near Me</b>
        </a>        
    </div>
</div>