<footer class=" mx-56">
    <div class="container mx-auto px-4 py-8 border-t border-black mt-14">
        <div class="flex space-x-4 mt-4 ">
            <p class="text-xl font-bold ">For better experience,download the Swiggy app now
            </p>
            <a href="#" class="text-gray-500 hover:text-gray-700">
                <img src="assets/play_store.avif" alt="Google Play" class="w-32 h-12">
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-700">
                <img src="assets/app_store.avif" alt="App Store" class="w-32 h-12">
            </a>
        </div>

        <div class="flex flex-col md:flex-row justify-between items-center pt-16">
            <div class="mb-8 md:mb-0">
                <div class="flex gap-2">
                    <img src="assets/Swiggylogo.png" alt="Swiggy Logo" class="w-10 h-10">
                    <p class="text-3xl font-bold text-orange-500">Swiggy</p>
                </div>
                <p class="text-sm text-gray-500 mt-2">© 2024 Swiggy Limited</p>
            </div>

            <div class="flex flex-col md:flex-row space-x-8 md:space-x-16">
                <div class="flex flex-col space-y-4">
                    <h3 class="text-lg font-semibold">Company</h3>
                    <ul class="list-none space-y-2">
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">About Us</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Swiggy Corporate</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Careers</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Team</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Swiggy One</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Swiggy Instamart</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Swiggy Dineout</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Swiggy Genie</a></li>
                    </ul>
                </div>

                <div class="flex flex-col space-y-4">
                    <h3 class="text-lg font-semibold">Contact Us</h3>
                    <ul class="list-none space-y-2">
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Help & Support</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Partner with us</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Ride with us</a></li>
                    </ul>
                    <h3 class="text-lg font-semibold">Legal</h3>
                <ul class="list-none space-y-2">
                    <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Terms & Conditions</a></li>
                    <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Cookie Policy</a></li>
                    <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Privacy Policy</a></li>
                    <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Investor Relations</a></li>
                </ul>
                </div>

                <div class="flex flex-col space-y-4">
                    <h3 class="text-lg font-semibold">Available in:</h3>
                    <ul class="list-none space-y-2">
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Bangalore</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Gurgaon</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Hyderabad</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Delhi</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Mumbai</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Pune</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">679 cities</a></li>
                    </ul>
                </div>

                <div class="flex flex-col space-y-4">
                    <h3 class="text-lg font-semibold">Life at Swiggy</h3>
                    <ul class="list-none space-y-2">
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Explore with Swiggy</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Swiggy News</a></li>
                        <li><a href="#" class="text-sm text-gray-700 hover:text-gray-900">Snackables</a></li>
                    </ul>

                    

                </div>
            </div>
        </div>
    </div>
</footer>