<div class="container mx-auto px-6"> 
    <h2 class="text-5xl font-bold ml-28 px-32 border-t pt-10 pb-6">Restaurants with online food delivery in Hyderabad</h2>
    <div class=" mx-20 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3"> 
      
      <!-- Card  -->

      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/pizzahut.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Pizza Hut</h3>
          <p class="text-xs text-gray-500">⭐4.1 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Pizzas</p>
          <p class="text-xs text-gray-500">SR Nagar</p>
        </div>
      </a>
      <!-- card1 -->
      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto">
        <div class="relative">
            <img src="assets/pi2.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Chinese Wok</h3> 
          <p class="text-xs text-gray-500">⭐4.2 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Chinese,Asian,Desserts</p>
          <p class="text-xs text-gray-500">Gachibowli</p>
        </div>
      </a>


      <!-- card2 -->

      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic3.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Burger King</h3> 
          <p class="text-xs text-gray-500">⭐4.1 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Burgers,American</p>
          <p class="text-xs text-gray-500">Secunderabad</p>
        </div>
      </a>

            <!-- card3 -->

      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic4.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Rollsking</h3> 
          <p class="text-xs text-gray-500">⭐4.3 • 30-35 mins</p>
          <p class="text-xs text-gray-500">Fat Food,Rolls & Wraps,North</p>
          <p class="text-xs text-gray-500">Begumpet</p>
        </div>
      </a>

            <!-- card4-->

      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic5.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Pizza Hut</h3> 
          <p class="text-xs text-gray-500">⭐4.1 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Pizzas</p>
          <p class="text-xs text-gray-500">SR Nagar</p>
        </div>
      </a>

            <!-- card4 -->

      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto">
        <div class="relative">
            <img src="assets/Restaurants/pic6.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Chinese Wok</h3> 
          <p class="text-xs text-gray-500">⭐4.2 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Chinese,Asian,Desserts</p>
          <p class="text-xs text-gray-500">Gachibowli</p>
        </div>
      </a>
      
      <!-- Card  -->
       

      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic7.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Burger King</h3>
          <p class="text-xs text-gray-500">⭐4.1 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Burgers,American</p>
          <p class="text-xs text-gray-500">Secunderabad</p>
        </div>
      </a>

      <!-- Card  -->
       
      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic8.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Rollsking</h3> 
          <p class="text-xs text-gray-500">⭐4.3 • 30-35 mins</p>
          <p class="text-xs text-gray-500">Fat Food,Rolls & Wraps,North</p>
          <p class="text-xs text-gray-500">Begumpet</p>
        </div>
      </a>

      <!-- Card  -->
       
      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/pizzahut.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Pizza Hut</h3>
          <p class="text-xs text-gray-500">⭐4.1 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Pizzas</p>
          <p class="text-xs text-gray-500">SR Nagar</p>
        </div>
      </a>
     
      <!-- Card  -->
       
      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/pi2.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Chinese Wok</h3> 
          <p class="text-xs text-gray-500">⭐4.2 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Chinese,Asian,Desserts</p>
          <p class="text-xs text-gray-500">Gachibowli</p>
        </div>
      </a>

      <!-- Card  -->
       
      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic3.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Burger King</h3>
          <p class="text-xs text-gray-500">⭐4.1 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Burgers,American</p>
          <p class="text-xs text-gray-500">Secunderabad</p>
        </div>
      </a>

      <!-- Card  -->
       
      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic4.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Rollsking</h3> 
          <p class="text-xs text-gray-500">⭐4.3 • 30-35 mins</p>
          <p class="text-xs text-gray-500">Fat Food,Rolls & Wraps,North</p>
          <p class="text-xs text-gray-500">Begumpet</p>
        </div>
      </a>

      <!-- Card  -->
       
      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic5.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Pizza Hut</h3>
          <p class="text-xs text-gray-500">⭐4.1 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Pizzas</p>
          <p class="text-xs text-gray-500">SR Nagar</p>
        </div>
      </a>

      <!-- Card  -->
       
      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic6.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Chinese Wok</h3>
          <p class="text-xs text-gray-500">⭐4.2 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Chinese,Asian,Desserts</p>
          <p class="text-xs text-gray-500">Gachibowli</p>
        </div>
      </a>

      <!-- Card  -->
       
      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic7.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Pizza Hut</h3>
          <p class="text-xs text-gray-500">⭐4.1 • 25-30 mins</p>
          <p class="text-xs text-gray-500">Pizzas</p>
          <p class="text-xs text-gray-500">SR Nagar</p>
        </div>
      </a>

      <!-- Card  -->
       
      <a href="#" class="bg-white p-3 rounded-lg hover:shadow-xl transition duration-300 w-64 mx-auto"> 
        <div class="relative">
            <img src="assets/Restaurants/pic8.avif" alt="Pizza Hut" class="w-60 h-36 object-cover rounded-lg"> 
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent rounded-lg"></div>
          <span class="absolute bottom-0.5 bg-opacity-70 text-white text-lg font-extrabold px-2 py-1 rounded">ITEMS AT ₹149</span>
        </div>
        <div class="mt-2">
          <h3 class="text-sm font-semibold">Rollsking</h3> 
          <p class="text-xs text-gray-500">⭐4.3 • 30-35 mins</p>
          <p class="text-xs text-gray-500">Fat Food,Rolls & Wraps,North</p>
          <p class="text-xs text-gray-500">Begumpet</p>
        </div>
      </a>
      
    </div>
</div>




